.centro{
    width: 300px;
    background: #f0f0e9;  
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.outro{
    background: #e0ffff;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border-left-color:blue;
    border-left-style: solid;
    border-left-width: 5px; 
}

.texto{
    color: #abafaf;
}
.title,.subtitle{
padding-left: 20px;
margin: 0px;


}
.subtitle{
    color: #abafaf;
}
.but{
    border-radius: 20px;
    border-style: none;
    padding: 4px 8px;
    transition: all 0.8s;
    align-self: flex-end;
    margin-left: 130px;
    background-color: rgb(216, 215, 215);
    margin-top: 20px;
}

.but:hover{
    background-color: darkgray;
}

